* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ddd;
}

.structure {
    width: 750px;
    box-sizing: border-box;
    display: block;
    margin: auto;
}

.header {
    height: 100px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    background-color: #fff;
}

.header img {
    height: 80px;
    display: block;
    margin: auto;
}

.principal-menu {
    background-color: #bbb;
    border-bottom: solid 2px #aaa;
}

.principal-menu ul {
    list-style: none;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.principal-menu ul li {
    list-style: none;
    display: inline;
    background-color: #fff;
    font-size: 20px;
    margin: 4px;
    flex: 1;
}

.principal-menu ul li a {
    text-decoration: none;
    font-weight: bolder;
    color: #444;
    text-align: center;
    width: 100%;
    display: block;
    margin: auto;
}

.columns-container {
    display: flex;
}

.column-left, .column-right {
    box-sizing: border-box;
    width: 150px;
    background-color: #ccd;
    padding: 8px;
}

.column-left {
    border-right: solid 2px #aaa;
}

.column-right {
    border-left: solid 2px #aaa;
}

.column-center {
    box-sizing: border-box;
    width: 450px;
    padding: 8px;
}

.form-container {
    background-color: #fff;
    box-shadow: 0 0 8px #888;
    padding: 8px;
    margin-bottom: 16px;
}

.form-container label {
    display: block;
    margin-top: 8px;
    font-size: 16px;
    color: #444;
    width: 95%;
}

.form-container input {
    font-size: 16px;
    padding: 4px;
    color: #444;
    width: 95%;
    border-radius: 4px;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
}

.form-container textarea {
    min-width: 95%;
    max-width: 95%;
    margin: 4px;
    font-size: 16px;
    padding: 4px;
    color: #444;
    border-color: #ccc;
}

.form-container .toogle {
    display: inline-block;
    margin: 4px;
}

.form-container p {
    display: inline-block;
    color: #444;
}

.form-container p a {
    text-decoration: none;
    color: #00f;
}

#terms-toogle {
    display: inline-block;
    margin: 0;
    width: 24px;
}

button {
    display: block;
    margin: 8px auto 8px auto;
    border: none;
    background-color: #00f;
    color: #fff;
    font-size: 16px;
    width: 95%;
    padding: 4px;
}

button:active {
    box-shadow: 0 0 12px #222 inset  ;
}

.column-left label {
    padding: 4px;
    color: #222;
}

.navigation-lateral  {
    position: relative;
    margin: 8px;
}

.navigation-lateral::before {
    content: " ";
    width: 2px;
    height: 90%;
    background-color: #00f;
    position: absolute;
}

.navigation-lateral ul {
    list-style-type: none;
    padding: 0 0 0 16px;
}

.navigation-lateral ul li {
    text-align: left;
}

.navigation-lateral ul li::before {
    content: " ";
    width: 12px;
    height: 2px;
    background-color: #00f;
    position: absolute;
    transform: translate( -16px, 8px );
}

.navigation-lateral ul li a {
    
    text-decoration: none;
    color: #00f;
}

.footer {
    height: 100px;
    background-color: #fff;
    border-top: solid 2px #aaa;
}

.footer p {
    display: table-cell;
    width: 750px;
    height: 100px;
    text-align: center;
    vertical-align: bottom;
    box-sizing: border-box;
    padding: 24px;
}

#screen-block {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(153, 153, 153, 0.5);
}

#screen-sucefull {
    display: block;
    position: fixed;
    margin: auto;
    padding: 8px;
    box-sizing: border-box;
    height: 240px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    background-color: #fff;
    box-shadow: 0 0 16px #222;
    z-index: 5;
}

#screen-sucefull img {
    display: block;
    margin: 16px auto 8px auto;
    height: 48px;
    background-color: #6b6;
    border-radius: 100%;
}

#screen-sucefull img + p {
    font-weight: bold;
    color: #6b6;
}

#screen-sucefull p {
    text-align: center;
    width: 100%;
    margin: 8px;
}

#screen-table {
    font-size: 12px;
}

#screen-table table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

#screen-table table th, td {
    border: solid 2px #444;
    margin: 0;
    box-sizing: border-box;
    background-color: #dd9;
}

#screen-table table td {
    background-color: inherit;
}

#screen-table table th:first-of-type {
    border: none;
    opacity: 0;
}

.aproved {
    background-color: #6b6;
}

.reproved {
    background-color: #b66;
}

#info {
    position: fixed;
    top: 16px;
    left: 0;
    width: 100vw;
    height: 48px;
    background-color: rgba(202, 59, 59, 0.5);
    color: #fff;
    text-align: center;
    font-size: 28px;
    padding: 8px;
    box-sizing: border-box;
    text-shadow: 0 0 2px #444;
}